{
    "presets": [
      // [
      //   "@babel/preset-env",
      //   {
      //     "modules": false
      //   }
      // ],
      "@babel/preset-env",
      "@babel/preset-react"
    ]
  }