/* COLOR VARIABLES */
// $family: 'Mulish', Helvetica, Arial, sans-serif;

$color-violet: #C05AFF;
$color-ligth-green: #C9FF50;
$color-rose: #FF50BA;
$color-yellow: #FFFD50;
$color-black: #000000;
$color-white: #FFFFFF;


/* FONT SIZE VARIABLES */
$textXS: 12px;
$textS: 14px;
$textM: 18px;
$textL: 36px;
// $textXL: 24px;
// $textXXL: 32px;

/* BORDER RADIUS VARIABLES */
// $br-input: 12px;
