/* COLOR VARIABLES */
// $family: 'Mulish', Helvetica, Arial, sans-serif;

$color-violet: #c05aff;
$color-ligth-green: #c9ff50;
$color-rose: #ff50ba;
$color-yellow: #fffd50;
$color-black: #000000;
$color-white: #ffffff;

/* FONT SIZE VARIABLES */
$textXSSS: 8px;
$textXSS: 10px;
$textXS: 12px;
$textS: 14px;
$textM: 18px;
$textM1: 20px;
$textM2: 24px;
$textM3: 32px;
$textL: 36px;
$textL2: 40px;
$textXL: 48px;
